body {
    font-family: Inter, sans-serif;
}

::-webkit-scrollbar {
    width: 5px;
    border: 10px;
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background: rgba(88, 88, 88, 0.315);
}

.w-10 {
    width: 10% !important;
}

.w-7 {
    width: 7% !important;
}

.w-5 {
    width: 5% !important;
}

.w-15 {
    width: 15% !important;
}

.w-60 {
    width: 60% !important;
}

.fw-7 {
    font-weight: 700 !important;
}

.fw-8 {
    font-weight: 800 !important;
}

.fw-9 {
    font-weight: 900 !important;
}

.action {
    display: flex;
    flex-direction: column;
}

.action a,
.action button {
    text-align: end !important;
    float: right !important;
    text-decoration: none !important;
    font-weight: 600;
    border: none !important;
    margin-bottom: 10px !important;
    color: rgb(34, 37, 119) !important;
    padding: 0 !important;
    background: none !important;
}

.light-blue {
    background: rgb(209, 209, 224);
}

.text-blue-dark {
    color: rgb(34, 37, 119);
}

.btn-dark-blue {
    background: rgb(34, 37, 119) !important;
    color: rgb(255, 255, 255) !important;
}

.btn-dark-blue:hover {
    background: rgb(39, 43, 139) !important;
    color: rgb(255, 255, 255) !important;
}

.btn-back {
    color: rgb(34, 37, 119) !important;
    margin-bottom: 10px;
    text-decoration: none;
    font-weight: 600 !important;
}

.btn-back:hover {
    color: rgb(38, 42, 176);
    margin-bottom: 10px;
    text-decoration: none;
    font-weight: 600 !important;
}

.border-blue {
    border-color: rgb(34, 37, 119) !important;
}

.wrapper {
    overflow-x: hidden;
    display: flex;
}

.box {
    background: rgb(255, 255, 255);
    border-top: 4px solid rgb(34, 37, 119) !important;
    padding: 1rem 1rem 1rem 1rem;
    height: fit-content;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important
}

.back-button a {
    font-weight: 600;
    color: rgb(26, 55, 87);
    cursor: pointer;
}

.back-button a:hover {
    font-weight: 600;
    color: rgb(35, 75, 118);
    cursor: pointer;
    font-size: 16px;
}

.text-link {
    text-decoration: none;
    font-weight: 600;
    color: rgb(34, 37, 119);
}

.text-link:hover {
    color: rgb(89, 92, 153);
}

.form-control[readonly] {
    background-color: #e9ecef !important;
    opacity: 1 !important;
}

.badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
}

.badge:empty {
    display: none;
}

.btn .badge {
    position: relative;
    top: -1px;
}

.badge-pill {
    padding-right: 0.6em;
    padding-left: 0.6em;
    border-radius: 10rem;
}

.badge-primary {
    color: #fff;
    background-color: #007bff;
}

.badge-primary[href]:focus,
.badge-primary[href]:hover {
    color: #fff;
    text-decoration: none;
    background-color: #0062cc;
}

.badge-secondary {
    color: #fff;
    background-color: #868e96;
}

.badge-secondary[href]:focus,
.badge-secondary[href]:hover {
    color: #fff;
    text-decoration: none;
    background-color: #6c757d;
}

.badge-success {
    color: #fff;
    background-color: #28a745;
}

.badge-success[href]:focus,
.badge-success[href]:hover {
    color: #fff;
    text-decoration: none;
    background-color: #1e7e34;
}

.badge-info {
    color: #fff;
    background-color: #17a2b8;
}

.badge-info[href]:focus,
.badge-info[href]:hover {
    color: #fff;
    text-decoration: none;
    background-color: #117a8b;
}

.badge-warning {
    color: #212529;
    background-color: #ffc107;
}

.badge-warning[href]:focus,
.badge-warning[href]:hover {
    color: #212529;
    text-decoration: none;
    background-color: #d39e00;
}

.badge-danger {
    color: #fff;
    background-color: #dc3545;
}

.badge-danger[href]:focus,
.badge-danger[href]:hover {
    color: #fff;
    text-decoration: none;
    background-color: #bd2130;
}

.badge-light {
    color: #212529;
    background-color: #f8f9fa;
}

.badge-light[href]:focus,
.badge-light[href]:hover {
    color: #212529;
    text-decoration: none;
    background-color: #dae0e5;
}

.badge-dark {
    color: #fff;
    background-color: #343a40;
}

.badge-dark[href]:focus,
.badge-dark[href]:hover {
    color: #fff;
    text-decoration: none;
    background-color: #1d2124;
}

.resizechart {
    width: 100%;
    height: 500px;
}

.form-check-input {
    border: 1px solid black !important;
}

/* Profile */

.profile-card {
    display: grid;
    align-items: center !important;
    height: 535px;
}

.profile-card img{
    width: 150px;
}

.selra {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.count-selra {
    display: grid;
    width: 50px;
    height: 50px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background: radial-gradient(circle, rgba(255,255,255,1) 20%, rgba(209,209,224,1) 95%);
    /* border: 2px solid rgba(20, 25, 152, 0.662); */
    border-radius: 50%;
    align-content: space-around;
    margin: 0 !important;
    font-weight: bold;
}

/* Dashboard */
.header-dashboard {
    padding: 10px 15px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    background-color: rgb(34, 37, 119);
    color: rgb(255, 255, 255);
}

.content-dashboard {
    overflow: auto;
    padding: 15px 15px 25px 15px;
    background-color: rgb(209, 209, 224);
    height: calc(100vh - 94px);
}

.card-dash {
    min-height: 102.5px !important;
    max-height: max-content;
    display: grid;
}

.icons-dashboard {
    display: flex;
    align-items: center;
    justify-content: center !important;
}

.body-dash {
    display: grid;
    align-items: center;
}

.icons-dashboard i{
    background-color: rgb(244, 244, 244);
    border-radius: 50% !important;
    padding: 15px;
}

.icons-dashboard i::before {
    font-weight: 900 !important;
    font-size: 25px !important;
}

.highcharts-data-table {
    margin-left: auto !important;
    margin-right: auto !important;
    justify-content: center !important;
}

.highcharts-table-caption {
    text-align: center !important;
    font-weight: 600 !important;
}
.highcharts-data-table table,
.highcharts-data-table table th,
.highcharts-data-table table tr,
.highcharts-data-table table td{
    border:  1px solid rgb(155, 155, 155) !important;
    padding: 0.5rem !important;
}

/* DatePicker */
.datepicker {
    margin-top: 10px !important;
    padding: 6px 12px !important;
    background-color: rgb(244, 244, 247) !important;
}

.datepicker .datepicker-days table,
.datepicker .datepicker-months table,
.datepicker .datepicker-years table,
.datepicker .datepicker-decades table,
.datepicker .datepicker-centuries table {
    min-width: 17.813rem !important;
}

.datepicker thead tr .datepicker-switch,
.datepicker thead tr .prev,
.datepicker thead tr .next {
    color: rgb(26, 28, 89) !important;
    padding: 10px !important;
}

.datepicker thead tr .datepicker-switch:hover,
.datepicker thead tr .prev:hover,
.datepicker thead tr .next:hover {
    background-color: rgb(215, 215, 228) !important;
    color: rgb(62, 64, 136) !important;
}

.datepicker thead tr .dow {
    color: rgb(26, 28, 89) !important;
}

.datepicker tbody tr {
    color: rgb(26, 28, 89) !important;
}

.datepicker tbody tr td:hover {
    background-color: rgb(215, 215, 228) !important;
    color: rgb(26, 28, 89) !important;
}

/* Image Size */
.img-sm {
    width: 81px;
}

.img-header {
    width: 50px;
    height: 40px;
    padding: 0 5px
}

.img-header-icell {
    width: 85px;
    height: 40px;
    padding: 0 5px
}


.img-profile {
    width: 50px;
    height: 50px;
    padding: 5px;
    margin-top: 0px;
}

.login-img img{
    width : 120px !important;
    height: auto !important;
    padding: 0 10px;
}

/* Login */
.forgot-password {
    display: flex;
    margin-top: 5px;
    margin-left: 15px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.701);
}

.forgot-password:hover {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.login-page {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.918), rgba(6, 0, 61, 0.8)), url(/images/bckg-images.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.login-section {
    height: 100vh !important;
    padding: 3rem 0;
}

.login-section {
    display: grid;
    place-items: center;
    min-height: 100vh;
  }

.login-img {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
}

.login-header h2 {
    font-weight: 900;
    color: rgb(255, 255, 255);
}

.login-header h4 {
    font-weight: 700;
    color: rgb(255, 255, 255);
}

.login-wrap {
    position: relative;
    color: rgba(255, 255, 255, 0.9);
}

.btn-login {
    background-color: rgba(23, 28, 191, 0.662);
    color: rgb(255, 255, 255) !important;
    font-weight: bold;
    border-radius: 40px;
    padding: 0 20px;
    height: 50px;
}

.btn-login:hover {
    background-color: rgba(20, 25, 152, 0.662);
    color: rgb(255, 255, 255) !important;
    font-weight: bold;
    border-radius: 40px;
    padding: 0 20px;
    height: 50px;
}

.password-container {
    position: relative !important;
}

.field-icon {
    position: absolute;
    top: 25%;
    right: 15px;
    -webkit-transform: translateY(-25%);
    -ms-transform: translateY(-25%);
    transform: translateY(-25%);
    color: rgba(255, 255, 255, 0.9);
}

.forms-control {
    background: transparent;
    border: none;
    width: 100%;
    height: 50px;
    color: white !important;
    border: 1px solid transparent;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 40px;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

/* Sidebar */
.sidemenu {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    max-width: 240px;
    padding: 0;
    transition: margin .25s ease-out;
    font-size: 14px;
    overflow: auto;
    background: rgb(34, 37, 119);
}

.sidemenu.active {
    margin-left: -240px;
}

.parents-menu {
    position: relative;
}

.parents-menu .dropdown-arrow {
    position: absolute;
    right: 15px;
}

.rotate {
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    transform: rotate(90deg);
}

.parents-menu:hover,
.child-menu:hover,
.sub-menus:hover {
    background: rgb(39, 43, 139);
}

.sub-menus {
    margin-left: 2.813rem;
}

.btn-burger {
    padding-top: 2px;
    width: 40px;
    height: 40px;
    color: rgb(34, 37, 119);
    text-align: center;
}

.btn-burger:hover {
    background-color: rgb(194, 194, 214) !important;
    color: rgb(34, 37, 119) !important;
    padding-top: 2px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

/* Main Content */
.main-content {
    height: 100vh;
    left: 240px;
    right: inherit;
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
    width: calc(100% - 240px);
    position: absolute;
    overflow: hidden !important;
}

.main-content.active {
    left: 0;
    width: 100%;
}

/* Navigation */

.profile:hover {
    background: rgb(194, 194, 214) !important;
    border-radius: 15px;
}

.nav-title {
    font-weight: bold !important;
    color: rgb(34, 37, 119) !important;
    padding-right: 0.5rem!important;
    padding-left: 0.5rem!important;
    font-size: 1.25rem!important;
}

.sm-img {
    display: none !important;
}

.nav-title-sm {
    display: none !important;
}


/* Content */
.content {
    overflow: auto;
    background-color: rgb(242, 242, 242);
    height: calc(100vh - 66px);
    padding: 1rem;
}

.viewdata {
    background: rgb(34, 37, 119) !important;
    padding: 5px;
    border-radius: 10px;
    border: none;
}

.viewdata:hover {
    background: rgb(45, 49, 159) !important;
    border-radius: 10px;
    padding: 5px;
}

.view-data {
    text-decoration: none;
    font-weight: 700;
    color: rgb(255, 255, 255);
}

/* tfoot {
    display: table-row-group;
    width: 100%;
    padding: 3px;
    box-sizing: border-box;
} */

table tbody tr .active {
    background-color: rgb(24, 129, 80);
    color: rgb(255, 255, 255);
    ;
    font-weight: 600;
    border-radius: 5px;
    padding: 3px 10px;
}

table tbody tr .inactive {
    background-color: rgb(217, 38, 56);
    color: rgb(255, 255, 255);
    font-weight: 600;
    border-radius: 5px;
    padding: 3px 10px;
}

.table-officer {
    font-size: 14px;
}

.table-officer tr th {
    vertical-align: middle !important;
    text-align: center !important;
    background-color: rgb(209, 209, 224);
}

.table-officer tr .tbl {
    width: 13% !important;
}

.table-officer tbody {
    vertical-align: middle;
}

.table-officer tbody .active {
    display: inline-block;
    background-color: rgb(24, 129, 80);
    color: rgb(255, 255, 255);
    padding: 3px 10px;
    border-radius: 10px;
}

.table-officer tbody .inactive {
    display: inline-block;
    background-color: rgb(217, 38, 56);
    color: rgb(255, 255, 255);
    padding: 3px 10px;
    border-radius: 10px;
}

.table-officer tbody:nth-of-type(even) {
    background-color: #f5f4f4;
}

.table-users {
    font-size: 14px !important;
    /* vertical-align: middle !important; */
}

.table-users thead tr th {
    vertical-align: middle !important;
    text-align: center;
    background-color: rgb(209, 209, 224);
}

.table-users tbody tr td {
    vertical-align: middle !important;
}

.floating-btn {
    width: 60px;
    height: 60px;
    background-color: rgb(34, 37, 119) !important;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 50%;
    color: #fff;
    font-size: 40px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    padding: 0;
    transition: background 0.10s;
    border: none;
    cursor: pointer;
}

.floating-btn:focus {
    outline: none;
}

.floating-btn:hover {
    background: rgb(35, 75, 118);
    border: none;
    text-decoration: none;
    color: #fff;
}

.floating-btn:active {
    background: rgb(35, 75, 118);
    outline: none;
    text-decoration: none;
}

.input-form {
    background-color: transparent !important;
    border-bottom: 1px solid rgba(29, 63, 98, 0.672);
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-radius: 0;
}

input.input-form:autofill,
input.input-form:selected {
    background-color: transparent !important;
}

.item-header {
    background-color: rgb(226, 226, 236);
    padding: 0.7rem 0.5rem !important;
    font-size: 14px !important;
    border-bottom: 1px solid rgb(193, 193, 202) !important;
}

.item-body {
    background-color: rgb(244, 244, 247);
    padding: 0 !important;
    font-size: 14px !important;
}

.item-list {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    border-bottom: 1px solid rgb(221, 221, 232) !important;
    padding: 0.5rem 1.5rem !important;
}

.item-list span {
    text-decoration: none;
    font-weight: 600 !important;
    color: rgb(0, 0, 0);
}

.item-list i::before {
    text-decoration: none;
    font-weight: 600 !important;
    color: rgb(0, 0, 0);
}

.individu-column {
    /* display: flex !important; */
    /* flex-wrap: wrap !important; */
    padding: 1rem 0 !important;
    /* border-bottom: 4px solid rgb(34, 37, 119) !important; */
}

.label-table {
    background-color: rgb(56 58 132);
    font-weight: bold !important;
    padding: 7px 0 !important;
    color: rgb(255, 255, 255) !important;
}

.label-table2 {
    background-color: rgb(145, 146, 187);
    font-weight: bold !important;
    padding: 7px 0 !important;
    color: rgb(255, 255, 255) !important;
}

.box-item {
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(209,209,224,1) 100%);
    font-weight: bold !important;
    padding: 5px 10px !important;
    border-radius: 10px !important;
    display: flex !important;
    justify-content: center !important;
    margin: 5px 10px !important;
    width: 60px !important;
}

.box-label {
    font-weight: bold !important;
}

@media (max-width: 1024px) {
    .box-item {
        width: 45px !important;
    }

    .main-content {
        /* height: calc(100vh - 94px); */
        left: 0;
        width: 100%;
    }

    .main-content.active {
        left: 240px;
        width: calc(100% - 240px);
        -webkit-transition: all .25s ease-out;
        -moz-transition: all .25s ease-out;
        -o-transition: all .25s ease-out;
        transition: all .25s ease-out;
    }

    .sidemenu {
        /* height: calc(100vh - 94px); */
        margin-left: -240px;
    }

    .sidemenu.active {
        margin-left: 0px;
        transition: all .25s ease-out;
    }

    .icons-dashboard {
        display: none!important;
    }

    .card-dash {
        text-align: center;
    }

    .card-dash .d-flex {
        justify-content: center;
    }

    .content-dashboard {
        height: calc(100vh - 74px);
    }

    .profile-card img{
        width: 100px;
    }

    .img-header {
        display: none;
    }

    .username {
        display: none;
    }

    .sm-img {
        display: block !important;
        width: 50px;
        height: 50px;
        padding: 5px;
        margin-top: 0px;
    }

    .img-profile {
        display: none !important;
    }

    .dropdown-menu[data-bs-popper] {
        top: 100%;
        left: -94px;
        margin-top: 0.125rem;
    }

    .dropdown-toggle::after {
        display: none !important;
    }

    .nav-title {
        display: none !important;
    }

    .container-fluid .nav-title-sm {
        text-align: center !important;
    }

    .nav-title-sm {
        display: block !important;
        font-weight: 900 !important;
        color: rgb(34, 37, 119) !important;
        padding-right: 0.5rem!important;
        padding-left: 0.5rem!important;
        font-size: 1.25rem!important;
    }

    .navbar-collapse {
        flex-grow: 0;
    }
}
